@import "../../utility/utility.styles.scss";

// cd = conference details

.cd-container {
  max-width: 117rem;
  margin: 0 auto;
  padding-top:0 4rem;
 @media screen and (max-width:1220px) and (min-width:850px){
    margin: 0 16rem;
 }
}

.cd-grid {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 3rem;
  @media screen and (max-width:1220px) {
    grid-template-columns: 1fr;
    
  }
}

.cd-1st-col {
  padding: 2rem;
  h2 ,h3{
    color: $primary;
  }

 }
 .cd-2nd-col {
  padding-top: 2rem;
  @media screen and (max-width:1160px)  {
    align-items: center;  
    justify-content: center;  
    margin: 0 auto;
  }

}

.cd-banner-container {
  height: 37.125rem;
  overflow: hidden;
  border-radius: 4px;
}


.cd-no-banner {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 40;
  background-color: #ecf0f2;
}

// .cd-amenities {
//   display: flex;
//   flex-wrap: wrap;
//   justify-content: space-between;
// }

.cd-venuecard {
  overflow: hidden;
  border-radius: 8px;
}

.cd-carousel-wrap {
  height: 37.125rem;
  overflow: hidden;
}

.cd-venuecard-content {
  padding: 3.2rem;
  border: solid 1px $shade-1;
  background-color: $colour-white;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.react-multiple-carousel__arrow {
  background: rgba(#fff, 0.5);
  z-index: 0;

  &:hover {
    background: rgba(#fff, 1);
  }
}

.react-multiple-carousel__arrow::before {
  color: $gray-3;
}

.react-multi-carousel-dot {
  &--active {
    button {
      background: $accent;
    }
  }

  button {
    margin-right: 12px;
    margin-bottom: 12px;
    border: none;

    &:hover:active {
      background-color: $accent;
    }
  }
}

.conf-details-card {
  background-color: #fff;
  min-height: 53.8rem;
  padding: 2.4rem;
  border-radius: 4px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08), 0 4px 8px 0 rgba(8, 65, 92, 0.08);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;

  h4 {
    line-height: 1.2;
    color: $confemy-black;
  }
}

.cd-follow-button {
  margin-top: 0.5rem;
  padding: 0.2rem 1rem;
  color: #08415c;
  border: 2px solid #08415c;
  background-color: white;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
}

.added-docs {
  margin: 4.1rem 0 8rem 0;
}


.speaker-card {
  position: relative;
  max-width: 50%;
  max-height:100%;
  border: none;
  border-radius: 4px;
  background-color: $background;
  overflow: hidden;
  @media screen and (max-width:650px) {
    max-width: 100%;

  }

}

.speaker-card:hover {
  background-color: white;
}

.profile-pic {
  width: 14rem;
  height: 14rem;
  margin: 3rem 9.1rem 2.5rem 9.1rem;
  border-radius: 50%;
}

.cd-1stcol-cardwrap {
  display: none;
}

.bottom-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  i {
    padding: 0;
  }

  button {
    width: 26.4rem;
    height: 4.8rem;
  }

  .button {
    padding: 0;
  }
}

// @media screen and (max-width: 1156px) {
//   .cd-grid {
//     width: 100.6rem;
//     grid-template-columns: 60rem 38rem;
//     column-gap: 2.6rem;
//   }
// }

// @media screen and (max-width: 1124px) {
//   .cd-grid {
//     width: 92.6rem;
//     grid-template-columns: 56rem 36rem;
//     column-gap: 2.6rem;
//   }

//   .bottom-bar {
//     button {
//       width: 22rem;
//     }
//   }
// }

// @media screen and (max-width: 1000px) {
//   .cd-grid {
//     width: 86.6rem;
//     grid-template-columns: 50rem 34rem;
//     column-gap: 2.6rem;
//   }

//   .bottom-bar {
//     button {
//       width: 18rem;
//     }
//   }
// }

// @media screen and (max-width: 887px) {
//   .cd-grid {
//     width: 90%;
//     grid-template-columns: 100%;
//   }

  

//   .cd-1stcol-cardwrap {
//     display: inline;
//   }

//   .conf-details-card {
//     height: 45rem;
//   }

//   .bottom-bar {
//     button {
//       width: 42rem;
//     }
//   }
// }

// @media screen and (max-width: 628px) {
//   .cd-grid {
//     padding-top: 8rem;
//   }

//   .bottom-bar {
//     button {
//       width: 32rem;
//     }
//   }

//   .conf-details-card {
//     height: 47rem;
//   }
// }

// @media screen and (max-width: 538px) {
//   .bottom-bar {
//     button {
//       width: 18rem;
//     }
//   }

//   .cd-speakers-grid {
//     grid-template-columns: 1fr;
//   }
// }
