@import "../../utility/utility.styles.scss";

.conf-steps-container {
  width: 100%;
  margin-bottom: 48px;
  h2 {
    margin-bottom: 50px;
    color: $primary;
  }
}

.conf-steps {
  display: flex;
  // justify-content: space-between;
  // padding: 125px 38px 20px;
  // width: 337px;
  // height: auto;
  // background-color: $background;

  li {
    display: flex;
    margin-right: 24px;
    // margin-bottom: 43px;
    svg {
      // margin-right: 20px;
      margin-right: 4px;
    }
  }
}

.active-conf-step {
  @include avenir-heavy-18;
  color: $primary;
}

.inactive-conf-step {
  @include avenir-heavy-18;
  color: $gray-2;
}
