@import "../../utility/utility.styles.scss";

.conference-component {
  display: flex;
  justify-content: center;
}

.conf-details-grid {
  padding-top: 12.8rem;

  width: 111.4rem;
  height: 100%;
  display: grid;
  grid-template-columns: 66rem 40.8rem;
  column-gap: 4.6rem;
}

.conf-details-item {
  h2 {
    color: $primary;
    margin-top: 4rem;
  }

  p {
    margin-top: 1.6rem;
  }

  h3 {
    color: $primary;
  }
}

.venue-section-heading {
  margin: 6rem 0 3.2rem 0;
}

.icon-text {
  display: flex;
  margin-left: 2.8rem;
  margin-bottom: 2.4rem;

  span {
    margin-left: 6px;
    font-size: 16px;
    line-height: 16px;
    letter-spacing: 0.01px;
    color: $confemy-black;
    font-weight: 500;
  }
}

.amenities-section {
  margin-left: 2.8rem;
  margin-right: 4.6rem;
  padding-bottom: 2.9rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  div {
    margin-right: 4.6rem;
    font-size: 16px;
    line-height: 16px;
    letter-spacing: 0.01px;
    color: $confemy-black;
    font-weight: 600;
  }
}

.venuecard {
  background-color: #fff;

  h4 {
    margin: 3.4rem 0 1.5rem 2.8rem;
  }
}

.course-outline-heading {
  margin: 12.6rem 0 3.2rem 0;
}

.react-multiple-carousel__arrow {
  background: rgba(#fff, 0.5);
  z-index: 0;

  &:hover {
    background: rgba(#fff, 1);
  }
}

.react-multiple-carousel__arrow::before {
  color: $gray-3;
}

.react-multi-carousel-dot {
  &--active {
    button {
      background: $accent;
    }
  }

  button {
    margin-right: 12px;
    margin-bottom: 12px;
    border: none;

    &:hover:active {
      background-color: $accent;
    }
  }
}

.conf-details-card {
  background-color: #fff;
  height: 53.8rem;
  padding: 2.4rem;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08), 0 4px 8px 0 rgba(8, 65, 92, 0.08);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.added-docs {
  margin: 4.1rem 0 8rem 0;
}

.file {
  display: flex;
  align-items: center;
  padding: 1rem 0.5rem;

  span {
    margin-left: 6px;
    font-size: 16px;
    line-height: 16px;
    letter-spacing: 0.01px;
    color: $primary;
    font-weight: 600;
  }
}

.conference-details-speakers {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  flex-wrap: wrap;
}

.speaker-card {
  position: relative;
  width: 100%;
  height: 304px;
  max-width: 392px;
  max-height: 304px;
  border: none;
  border-radius: 4px;
  background-color: $background;
  overflow: hidden;
  padding: 0 60px 16px;
  margin-top: 3rem;
}

.speaker-card:hover {
  background-color: white;
}

.profile-pic {
  width: 14rem;
  height: 14rem;
  margin: 3rem 9.1rem 2.5rem 9.1rem;
  border-radius: 50%;
}

.photo-card {
  display: none;
}

.icon-grid-card {
  margin-top: 4.2rem;
  display: grid;
  grid-template-columns: 0.1fr 2fr;
  column-gap: 1.8rem;
  row-gap: 1.2rem;
  align-items: center;

  div {
    font-family: Avenir-Roman;
    font-size: 18px;
    line-height: 1.33;
    color: $gray-3;
  }
}

.bottom-bar {
  // margin-top: 14rem;

  display: flex;
  justify-content: space-between;
  align-items: center;

  i {
    padding: 0;
  }

  button {
    width: 26.4rem;
    height: 4.8rem;
  }

  .button {
    padding: 0;
  }
}

@media screen and (max-width: 1156px) {
  .conf-details-grid {
    width: 100.6rem;
    grid-template-columns: 60rem 38rem;
    column-gap: 2.6rem;
  }
}

@media screen and (max-width: 1124px) {
  .conf-details-grid {
    width: 92.6rem;
    grid-template-columns: 56rem 36rem;
    column-gap: 2.6rem;
  }

  .bottom-bar {
    button {
      width: 22rem;
    }
  }
}

@media screen and (max-width: 1000px) {
  .conf-details-grid {
    width: 86.6rem;
    grid-template-columns: 50rem 34rem;
    column-gap: 2.6rem;
  }

  .bottom-bar {
    button {
      width: 18rem;
    }
  }
}

@media screen and (max-width: 887px) {
  .conf-details-grid {
    width: 90%;
    grid-template-columns: 100%;
  }

  .side-card {
    display: none;
  }

  .photo-card {
    display: inline;
  }

  .conf-details-card {
    height: 45rem;
  }

  .bottom-bar {
    button {
      width: 42rem;
    }
  }
}

@media screen and (max-width: 628px) {
  .conf-details-grid {
    padding-top: 8rem;
  }

  .bottom-bar {
    button {
      width: 32rem;
    }
  }

  .conf-details-card {
    height: 47rem;
  }
}

@media screen and (max-width: 538px) {
  .bottom-bar {
    button {
      width: 18rem;
    }
  }

  .conference-details-speakers {
    grid-template-columns: 1fr;
  }
}
