.ticketsTable{

    padding-bottom: 2.5rem;
    table {
      
        width: 100%;
        border-radius: 25%;
        
    }
      
    th, td {
        text-align: left;
        padding: 1.5rem;
        font-size:1.5rem ;
        
    }

    thead{
        th{
            background-color:#ced9de
        }
    }

      
    tbody{
        tr:nth-child(even) {
            background-color: #ecf0f2;

        }

        tr{
           td{
        
            font-weight: bolder ;

           }
        }

    }
    

}

// .flex-container{
//     display:flex;
// }

// .flex-item{
//     margin-right: 15px;
//     margin-bottom: 2rem;
// }