@import "../../utility/utility.styles.scss";

// create conference form
.required-label {
  font-size: 18px;
  &::after {
    content: " *";
    color: #ff0000;
    font-weight: bolder;
    font-size: 16px;
  }
}

.conf-form-wrap {
  min-height: 100vh;

  h2 {
    color: $primary;
    margin-bottom: 48px;
    // margin-top: 56px;
  }

  h4 {
    color: $primary;
    margin-bottom: 8px;
    margin-top: 24px;
  }
}

.items-makeline {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.items-makeline-left {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
}

.big-checkbox {
  width: 1rem;
  height: 1rem;
}

.border-medium-grey {
  border: 1px solid #d8d8d8;
}

// ConfBasicInfo classes

.conf-schedule {
  grid {
    grid-gap: 8px;
  }
}
