@import "../../utility/utility.styles.scss";

// create conference form
.required-label {
  font-size: 18px;
  &::after {
    content: " *";
    color: #ff0000;
    font-weight: bolder;
    font-size: 16px;
  }
}

.conf-form-wrap {
  margin-right: 24px;
  h2 {
    color: $primary;
    margin-bottom: 32px;
  }

  h4 {
    color: $primary;
    margin-bottom: 16px;
  }
}

.items-makeline {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.items-makeline-left {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
}

.big-checkbox {
  width: 1rem;
  height: 1rem;
}

.border-medium-grey {
  border: 1px solid #d8d8d8;
}

// ConfBasicInfo classes

.conf-schedule {
  grid {
    grid-gap: 8px;
  }
}

// .react-datepicker-wrapper,
// .react-datepicker__input-container,
// .react-datepicker__input-container input {
//   display: block;
//   width: 100%;
// }

.react-datepicker {
  font-size: 12px;
}

// styles for details page 1

.tags-display {
  display: flex;
  flex-wrap: wrap;

  li {
    display: flex;
    align-items: center;
    list-style: none;

    font-family: Avenir-Heavy;
    font-size: 16px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: 0.01px;
    color: $gray-3;

    padding: 14px 12px;
    margin-right: 16px;
    margin-bottom: 12px;
    border-radius: 4px;
    background-color: $shade-2;

    svg {
      margin-left: 8px;
    }
  }
}

.details2-venue-wrap {
  margin-bottom: 200px;
}

.details2-venue {
  padding: 24px;
  background-color: $colour-white;
  margin-bottom: 32px;
}

.details2-image-dropzone {
  width: 100%;
  height: 356px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  // margin: 24px 222px 24px 79.5px;
  // padding: 139px 331px 141px 334px;
  border-radius: 8px;
  background-color: $shade-2;
  &:hover {
    cursor: pointer;
  }
}

.details2-camera-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  padding: 11px 11px 11px 9px;
  border-radius: 50%;
  background-color: $colour-white;
}

.details2-camera-icon {
  width: 32px;
  height: 28px;
  // width: 24px;
  // height: 21px;
}

.add-speaker-button {
  width: 392px;
  height: 304px;
  max-width: 392px;
  max-height: 304px;

  border: 1px solid $shade-1;
  border-radius: 4px;

  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ecf0f2;
  cursor: pointer;

  & > div {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $colour-white;
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }
}

// conference banner
// The banner aspect ratio is 16:9 ie 1.7777
// 1920 x 1080 pixels, its standard HD ratio for HD TVs, presentations, and social media cover photos.
// 1280 x 720 pixels, its standard HD format in photography and film.

.confbanner-container {
  position: relative;
  width: 817.77px;
  height: 460px;
  background-color: $colour-white;
  &:hover {
    & > .confbanner-overlay {
      opacity: 0.4;
      transition: all 300ms ease;
    }

    & > .confbanner-wrap {
      padding: 8px;
      transition: padding 300ms ease;
      background-color: $shade-2;
    }

    & > .confbanner-delete-circle {
      opacity: 1;
      transition: opacity 300ms ease;
    }
  }
}

.confbanner-wrap {
  width: 100%;
  height: 100%;
  border-radius: 4px;
  overflow: hidden;
  padding: 0px;
  transition: padding 400ms ease;
}

.confbanner-delete-circle {
  width: 54px;
  height: 54px;

  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $colour-white;
  border-radius: 50%;

  position: absolute;
  transition: 300ms ease;
  opacity: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.confbanner-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 300ms ease;
  border-radius: 4px;
  background-color: $confemy-black;
}

.confbanner {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 4px;
  opacity: 1;
  transition: opacity 300ms ease;
  backface-visibility: hidden;
}
// images are in aspect ratio of 16:9
.confbanner-dropzone-container {
  width: 817.77px;
  height: 460px;
}
