.buttons{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: 1px solid;
    background-color: rgb(230, 230, 231);
    // color: white;

}

.list{
    list-style-type: none;
   
}

.grid-contianer{
    display: grid;
    grid-template-columns: auto auto auto auto auto ;
}