@import "../../utility/utility.styles.scss";

.conf-steps-container {
  margin-right: 88px;
  // margin-top: 120px;
}

.conf-steps {
  li {
    display: flex;
    align-items: center;
    margin-bottom: 32px;
    svg {
      margin-right: 20px;
    }
  }
}

.active-conf-step {
  @include avenir-heavy-18;
  color: $primary;
  white-space: nowrap;
}

.inactive-conf-step {
  @include avenir-heavy-18;
  color: $gray-2;
  white-space: nowrap;
}

.steps-line {
  margin-left: 4px;
  display: inline-block;
  width: 48px;
  height: 2px;
  background-color: $gray-1;
}
