.preview-card {
    margin: 0 0 5rem 0;
    background-color: #fff;
    width: 80rem;
    // height: 21.1rem;
    display: grid;
    grid-template-columns: 45% 55%;
    // border-radius: .5rem;
  
    img {
      width: 100%
    //   border-radius: 1rem;
    //   padding: 2.4rem
    }
  
  }

  .preview-details{
    padding: 1.5rem
  }
  

  .preview-icon{
    width: 1.8rem;
    padding-top:.3rem;
  }


  .preview-grid-item{
    padding:.8rem;
    align-self:center;
  }

.preview-select-grid{
    display: grid;
    grid-template-columns: 20% 80%
}

.preview-wrapper{

  
  background-color:white;
  width:90%;
  margin-left: 5%;
  margin-top: 1%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.08)
  

}


.preview-modal-grid{
  display: grid;
  grid-template-columns: 50% 50%;
  margin: 2% 0 0 7%

}