.submit-cancel-loader-wrap {
  button {
    min-height: 52px;
    min-width: 212px;
  }
}

.submit-loader-wrap {
  display: inline-block;
  position: relative;

  button {
    min-height: 52px;
    min-width: 212px;
  }
}
