.submit-cancel-loader-wrap {
  width: 100%;
  button {
    min-height: 52px;
    min-width: 212px;
    @media screen and (max-width: 632px) {
      min-width: auto;
    }
  }
}

.submit-loader-wrap {
  display: inline-block;
  position: relative;

  button {
    min-height: 52px;
    min-width: 212px;
    @media screen and (max-width: 750px) {
      min-width: auto;
    }
  }
}

.flex-btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  @media screen and (max-width: 500px) {
    flex-direction: column;
    align-items: start;
  }
}

.fullwidth-submit-loader {
  display: block;
  width: 100%;
  position: relative;
  button {
    min-height: 52px;
    width: 100%;
  }
}
