.section-one{
    margin: 13.4rem 0 0 15.2rem;

}

.section-two{
    margin: 22rem 0 0 24.2rem;

}

.section-three{
    margin: 21.2rem 0 0 12.9rem;
}

.section-four{
    margin: 20.9rem 0 0 24.2rem;
}


.cover-grid{

    display:grid;
    grid-template-columns: 50% 50%;

}

.onePlace{
    width: 49.6rem;
    
    // margin-top: 5.7rem

    // height: 40.2rem;
}


.wallet{
    width:25.2rem;
    margin:14.9rem 28rem 14.8rem 18.8rem;
}

.manageCME{
    margin: 10.1rem 0rem 15.8rem 31.8rem;
}

.setGoals{
    margin: 13.3rem 26.5rem 13.3rem 18.8rem
}

.hostConfs{
    margin:5.6rem 14.5rem 5.8rem 0;
    
    width: 52.2rem; 
}

.smartTicketing{
    margin: 15.7rem 0 15.7rem 26.1rem;
    width: 16.6rem

}

.getStarted{
    text-align: center;
    height:44.8rem;
    background-color: #4cb944;

    h1{
        font-size: 5rem;
        color: white;
        padding-top:11.2rem;

    }
    p{
        font-size: 1.8rem;
        color:"#444444";
        margin-top:2.6rem;

    }
    button{
        margin-top: 6.4rem;
    }
}
