@import '../../utility/utility.styles.scss';

.savedconfs-container {
  max-width: 102.3rem;
  margin: 0 2.4rem 0 12.4rem;
  padding-top: 7.6rem;
  @media screen and (max-width: 750px) {
    margin: 1rem 2.4rem 0 1rem;
  }
}

.savedconfs-card {
  display: flex;
  flex-wrap: wrap;
  max-width: 102.3rem;
  // height: 21.1rem;
  background-color: $shade-2;
  border-radius: 0.5rem;
  padding: 2.4rem;
  position: relative;
}

.savedconfs-title {
  @include avenir-heavy-20;
  height: 5rem;
  max-height: 5rem;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.share-card {
  width: 250px;
  height: 60px;
  border-radius: 10px;
  box-shadow: 2px 2px rgba(#000, 0.09);
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  transform: translate(25%, -110%);
  // top:4;
  right: 0;
  z-index: 1;
  @media screen and (max-width: 750px) {
    transform: translate(5%, -10%);
  }
}

.share-btn {
  margin: 0 12px 5px;
}
