@import "../../utility/utility.styles.scss";

.tabs-flex{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.inactive-shared-tab {
  padding-bottom: 1.6rem;
  border-bottom: solid 0.4rem $colour-white;
  @include caption-1-heavy;
  color: #757575;
}

.active-shared-tab {
  border-bottom-color: $primary;
  color: $primary;
  font-weight: 900;
}

.completed-shared-tab {
  color: #4cb944;
}

.completed-active-shared-tab {
  color: #4cb944;
  border-bottom-color: #4cb944;
  font-weight: 900;
}

.completed-inactive-shared-tab {
  color: #4cb944;
}

.tabs-margin{
  margin-right: 32px;
  @media screen and  (max-width:436px)and (min-width:411px){
    margin-right: 28px;
  }
}

@media screen and (max-width:410px) and (min-width:360px){
  .tabs-margin{
    margin-right: 16px;
  }
}

@media screen and (max-width:360px)  {
  .tabs-margin{
    margin-right: 10px;
  }
}