@import '../../utility/utility.styles.scss';

// .conference-gird-container{
//     padding-top: 2rem;
//     margin-left:  16.3rem;
//     display: grid;
//     grid-template-columns: 660px auto;



// }



// .conference-grid-item{
//     margin:2.3rem;
// }

// .conference-component{
//     background-color: #fafbfc;

// }

// .section-heading1{
//     margin-top: 4rem;
//     margin-bottom: 1.6rem;
//     font-size: 2.5rem;
//     color: $primary
// }


// .section-heading{
//     margin-top: 4rem;
//     margin-bottom: 1.6rem;
//     font-size: 2rem;
//     color: $primary;
// }




// .conference-card-heading{
//     padding: 2.4rem 2.4rem 1rem 2.4rem;
//     margin-top: 3.5rem;
// }

// .conference-card-buttons{
//     background-color: white;
//     border:none
// }

// .conference-card-grid{
//     display:grid;
//     grid-template-columns: 15% 85%;
//     margin-top: 4rem;
// }

// .conference-card-grid-item{
//     margin-top:.5rem;
// }

// .conference-card-text{
//     margin-top: 0.2rem;
//     line-height: 2rem;
// }

// .conference-schedule-day{
//     font-size: 1.6rem;
//     padding: 1.5rem 0rem;

// }

// .speaker-grid{
//     display: grid;
//     grid-template-columns: 50% 50%;
// }



// .venueCard{

//     width:100%;
//     // height: 48.3rem;
//     background-color: white;
//     padding-bottom: 5rem;


// }

// .venue-card-text{
//     font-size: 1.6rem;
// }

// .carousel img{
//     width:100%

// }

// .venue-card-flex{
//     display: flex;
//     padding-top: 1rem;

// }

// .venue-flex-item{
//     padding-right: 1rem;
// }


.conf-details-grid {
    padding-top: 12.8rem;
    margin-left: 16.3rem;
    width: 111.4rem;
    height: 100%;
    display: grid;
    grid-template-columns: 66rem 40.8rem;
    column-gap: 4.6rem;

    div {}



}

.conf-details-item {
    h2 {
        color: $primary;
        margin-top: 4rem;
    }

    p {
        margin-top: 1.6rem;
    }

    h3 {
        color: $primary
    }
}

.venue-section-heading {
    margin: 6rem 0 3.2rem 0;
}

.icon-text{
    display: flex;
    
    
    margin-left: 2.8rem;
    margin-bottom: 2.4rem;

    span{
        margin-left:6px ;
        font-size: 16px;
        line-height: 16px;
        letter-spacing: .01px;
        color: $confemy-black;
        font-weight: 500;

    }

   
}

.amenities-section{
    margin-left: 2.8rem;
    margin-right: 4.6rem;
    padding-bottom: 2.9rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    div{
        margin-right: 4.6rem;
        font-size: 16px;
        line-height: 16px;
        letter-spacing: .01px;
        color: $confemy-black;
        font-weight: 600;

    }

}


.venuecard{
    background-color: #fff;

    h4{
        margin: 3.4rem 0 1.5rem 2.8rem;

    }

    

}

.course-outline-heading{
    margin: 12.6rem 0 3.2rem 0;
}

.react-multiple-carousel__arrow {

    background: rgba(#fff, 0.5);
    z-index: 0;


    &:hover {
        background: rgba(#fff, 1);
    }


}

.react-multiple-carousel__arrow::before {

    color: $gray-3;

}


.react-multi-carousel-dot {

    &--active {
        button {
            background: $accent;
        }
    }

    button {

        margin-right: 12px;
        margin-bottom: 12px;
        border: none;


        &:hover:active {
            background-color: $accent;

        }
    }





}

.conf-details-card{
    background-color: #fff;
    height:53.8rem;
    padding: 2.4rem;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08), 0 4px 8px 0 rgba(8, 65, 92, 0.08);
}

.added-docs{
    margin: 4.1rem 0 8rem 0;


}

.file{
    display: flex;
    align-items: center;
    padding: 1rem .5rem;

    span{
        margin-left:6px ;
        font-size: 16px;
        line-height: 16px;
        letter-spacing: .01px;
        color: $primary;
        font-weight: 600;

    }


}

.conference-details-speakers{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  
}

.speaker-card{

    margin-top: 1.6rem;
    width:32.2rem;
    height: 29rem;
    text-align: center;
}

.speaker-card:hover{
    background-color: white;
}

.profile-pic{
    width: 14rem;
    height: 14rem;
    margin: 3rem 9.1rem 2.5rem 9.1rem;
    border-radius: 50%;

}


.icon-grid-card{
    
    margin-top:4.8rem ;
    display: grid;
    grid-template-columns: .1fr 2fr;
    column-gap: 1.8rem;
    row-gap: 1.2rem;
    align-items: center;

    div{
        font-family: Avenir-Roman;
       font-size: 18px;
       line-height: 1.33;
       color: $gray-3;
       
    }
}

.bottom-bar{
    margin-top: 15rem;    
    display: flex;
    justify-content: space-between;
    align-items: baseline;


    i{
        padding: 0;
    }



}