@import '../../utility/utility.styles.scss';

.conference-gird-container{
    padding-top: 2rem;
    margin-left:  16.3rem;
    display: grid;
    grid-template-columns: 660px auto;
    
    

}

.conference-grid-item{
    margin:2.3rem;
}

.conference-component{
    background-color: #fafbfc;
    
}

.section-heading1{
    margin-top: 4rem;
    margin-bottom: 1.6rem;
    font-size: 2.5rem;
    color: $primary
}


.section-heading{
    margin-top: 4rem;
    margin-bottom: 1.6rem;
    font-size: 2rem;
    color: $primary;
}


.conference-card {
    width: 40.8rem;
    height:53.8rem;
    padding: 0 0 0.8rem;
    border-radius: 0.4rem;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.08);
    background-color: $colour-white;
  }

.conference-card-heading{
    padding: 2.4rem 2.4rem 1rem 2.4rem;
    margin-top: 3.5rem;
}

.conference-card-buttons{
    background-color: white;
    border:none
}

.conference-card-grid{
    display:grid;
    grid-template-columns: 15% 85%;
    margin-top: 4rem;
}

.conference-card-grid-item{
    margin-top:.5rem;
}

.conference-card-text{
    margin-top: 0.2rem;
    line-height: 2rem;
}

.conference-schedule-day{
    font-size: 1.6rem;
    padding: 1.5rem 0rem;

}

.speaker-grid{
    display: grid;
    grid-template-columns: 50% 50%;
}

.speaker-card{
    width:32.2rem;
    height: 29rem;

    
    text-align: center;
}

.speaker-card:hover{
    background-color: white;
}

.profile-pic{
    width: 14rem;
    height: 14rem;
    margin: 3rem 9.1rem 2.5rem 9.1rem;
    border-radius: 50%;
    
}

.venueCard{

    width:100%;
    // height: 48.3rem;
    background-color: white;
    padding-bottom: 5rem;
    

}

.venue-card-text{
    font-size: 1.6rem;
}

.carousel img{
    width:100%
    
}

.venue-card-flex{
    display: flex;
    padding-top: 1rem;

}

.venue-flex-item{
    padding-right: 1rem;
}