@import '../../utility/utility.styles.scss';

body{
    background-color: $background;
}

.step1-heading{
    text-align: center;
    color: $primary ;
    margin:8.2rem 0 1.6rem 0;
}

.step1-tickets-grid{
   
    width: 80rem;
    margin: .2rem 30.4rem 1rem 30.4rem ;
    display: grid;
    grid-template-columns: 62% 38%;
}

.step1-grid-item{
    h3{
        color:$primary;
        font-size: 2.4rem;
        font-weight: bold;
        margin-bottom: 8px;

    }

    h4{
        color:$gray-3;
        font-size: 1.8rem;
        font-weight: bold;
        margin-bottom: 8px;

    }
    p{
        font-size: 1.3rem;
        
    }

    padding: 2rem;
    

}

.tickets-page-divider{
    margin: 1rem 30.4rem 1rem 30.4rem ;
    
   width: 70rem;
}

.buy-button-grid{
    width: 80rem;
    
    margin: 1rem 30.4rem 10rem 35.4rem ;
    display: grid;
    grid-template-columns:50% 50% ;
}


.cart{
    border: solid 1px red;
    text-align: center;
    width: 60rem;
    margin: 1rem;
    padding: 2rem;
    border-radius: 1rem;
   
}

.cart-grid{
    display: grid;
    grid-template-columns: 60% 30% 10%;
    
    
    
   
    
}

.card-item{
    align-self: center;
}

