@import '../../utility/utility.styles.scss';


.step2-section-heading{
    margin-bottom: 8.1rem;
    text-align: center;
}

.step2-wrapper{
    width: 60%;
    margin-left: 28.2rem;
    margin-top: 8.2rem;
    
    
}



