@import '../../utility/utility.styles.scss';

body{
    background-color: $background;
}

.step1-heading{
    text-align: center;
    color: $primary ;
    margin:8.2rem 0 1.6rem 0;
}

.step1-tickets-grid{
   
    width: 80rem;
    margin: .2rem 30.4rem 1rem 30.4rem ;
    display: grid;
    grid-template-columns: 62% 38%;
}

.step1-grid-item{
    h3{
        color:$primary;
        font-size: 2.4rem;
        font-weight: bold;
        margin-bottom: 8px;

    }

    h4{
        color:$gray-3;
        font-size: 1.8rem;
        font-weight: bold;
        margin-bottom: 8px;

    }
    p{
        font-size: 1.3rem;
        
    }

    padding: 2rem;
    

}

.tickets-page-divider{
    margin: 1rem 30.4rem 1rem 30.4rem ;
    
   width: 70rem;
}

.buy-button-grid{
    width: 80rem;
    
    margin: 1rem 30.4rem 10rem 35.4rem ;
    display: grid;
    grid-template-columns:50% 50% ;
}


.cart{
    height: 80%;
  
    position: fixed;
    top:6.5rem;
    
    background-color: $colour-white;
    z-index: 1;
    overflow: auto;

    
    width: 45rem;

    right: 0;
    padding: 2rem;
    border-radius: 1rem;
    
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.08);
   
}

.cart-grid{
    display: grid;
    grid-template-columns: 40% 50% 10%; 
    
  

    h3:hover{
        color: $accent;
        text-decoration: underline;

    }
    
   
    
}



.card-item{
    align-self: center;
    

}

