@import '../../utility/utility.styles.scss';
.form {
  input[type='text'],
  input[type='email'],
  input[type='password'],
  input[type='number'],
  input[type='time'],
  input[type='date'],
  input[type='submit'],
  input[type='tel'],
  select,
  textarea {
    display: block;
    width: 100%;
    padding: 0.4rem;
    font-size: 1rem;
    color: $primary;
    border: 1px solid #ccc;
    margin: 0 auto;
  }
}

.mid-500-form-container {
  width: 500px;
  margin: 0 auto;
  overflow: hidden;
  text-align: center;
}

.form-heading {
  text-align: center;
}
