.orgFlex{
    display: flex;
   
}

.grid-item {
    background-color: rgb(255, 252, 252);
    border: 1px solid rgba(121, 175, 14, 0.8);

    font-size: 15px;
    padding: 10px;
    text-align: center;
    width: 14rem;
  }