@import "../../utility//utility.styles.scss";

// sp is search page
.sp-container {
  min-height: calc(100vh - 6.4rem);
  padding-right: 0 1.6rem 2.4rem 0;
}

// sb is search bar
.sb-container {
  padding-top: 6rem;
  display: flex;
  overflow: hidden;
}

.active-search-type {
  padding: 1.6rem 0rem;
  border-bottom: 3px solid $primary;
  @include caption-1-heavy;
  font-weight: 900;
  color: $primary;
}

.inactive-search-type {
  padding: 1.6rem 0rem;
  // @include caption-1-regular;
  @include caption-1-heavy;
  // font-weight: 900;
  color: $gray-2;
}

// sr is search result
.sr-container {
  margin-top: 3.2rem;
  margin-bottom: 1.6rem;
  // width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 28rem);
  grid-template-rows: auto;
  gap: 2.4rem;
}
