@import "../../utility/utility.styles.scss";
// Alerts
.alert {
  position: fixed;
  // z index is one less than navbar
  z-index: 98;
  width: 100%;
  padding: 0.8rem;
  opacity: 0.8;
  background: $background;
  color: #333;
  text-align: center;
  &.alert-primary {
    background-color: $shade-1;
  }
  &.alert-dark {
    background-color: $primary;
  }
  &.alert-success {
    background-color: $accent;
  }
  &.alert-danger {
    background-color: #ffce32;
  }
}
