@import "../../utility//utility.styles.scss";

.user-ticket-list {
  max-width: 55.8rem;
  margin: 0 auto;
}
#searchtickets {
  padding-left: 5.2rem;
}
.user-ticket-card {
  height: 27.3rem;
  border-radius: 0.8rem;
  margin-bottom: 2.8rem;
  box-shadow: 0 0.2rem 0.8rem 0 rgba(52, 40, 40, 0.08);
  cursor: pointer;
}

.user-ticket-resend {
  background: $primary;
  color: white;
  height: 4.8rem;
  border-radius: 0 0rem 0rem 0.8rem;
  width: 49.9%;
}
.user-ticket-print {
  // background: $primary;
  // color: white;
  // height: 4.8rem;
  border-radius: 0 0rem 0.8rem 0rem;
  // width: 49.9%;
}

.ut-modal-wrap {
  width: 62.4rem;
  padding: 0rem 2.4rem;
}
