@import "../../utility//utility.styles.scss";

.ticket-form-price-wrap {
  width: 100%;
  display: grid;
  grid-template-columns: 3fr 2fr;
  grid-template-rows: auto;
  gap: 8px;
}

.ticketform-checkbox-wrap {
  width: 100%;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.6rem 2.4rem;
  font-size: 1.6rem;
  border-radius: 4px;
  border: solid 2px $shade-1;
  outline: none;
  background-color: $colour-white;
  @include caption-1-regular;
  // color: $gray-2;
  color: $confemy-black;
  transition: 0.1s ease-out;

  &:hover {
    border: solid 3px $shade-4;
  }

  &:focus {
    padding: 10px 24px 10px 24px;
    border: solid 2px $info;
  }

  checkbox {
    width: 24px;
    height: 24px;
  }
}

.user-ticket-list{
  width: 55.8rem;
  margin: 0 auto;
}
#searchtickets {
  padding-left: 5.2rem;
}
.user-ticket-card{
  height: 27.3rem;
  border-radius: 0.8rem;
  margin-bottom:2.8rem ;
  box-shadow:  0 0.2rem 0.8rem 0 rgba(52, 40, 40, 0.08);
}
.user-ticket-title{
  color: $primary;
}
.user-ticket-status{
  text-align: right;
}
.user-ticket-resend{
  background: $primary;
  color: white;
  height: 4.8rem;
   border-radius: 0 0rem 0rem 0.8rem;
   width: 49.9%;
}
.user-ticket-print{
  background: $primary;
  color: white;
  height: 4.8rem;
  border-radius: 0 0rem 0.8rem 0rem;
  width: 49.9%;
}

.user-ticket-modal {
  width: 62.4rem;
  max-height: 86.4rem;
  padding: 3.3rem 2.6rem 0rem;
  margin: 10.4rem auto 5.6rem;
  background-color: #ffffff;
  border-radius: 0.4rem;
}


