@import "../../utility//utility.styles.scss";

.user-ticket-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0.7;
  border-radius: 4px;
  background-color: $colour-white;
}

.user-ticket-card {
  height: 27.3rem;
  border-radius: 0.8rem;
  margin-bottom: 2.8rem;
  box-shadow: 0 0.2rem 0.8rem 0 rgba(52, 40, 40, 0.08);
  cursor: pointer;
}

.user-ticket-btn {
  background: $primary;
  color: white;
  height: 4.8rem;
  // width: 49.9%;
}

.user-ticket-resend{
  border-radius: 0 0rem 0rem 0.8rem;

}
.user-ticket-print {
    border-radius: 0 0rem 0.8rem 0rem;
}

.ut-modal-wrap {
  width: 62.4rem;
  padding: 0rem 2.4rem;
}

.print-ticket{
  padding: 24px;
  border: 2px solid black;
  
}