@import "../../utility/utility.styles.scss";

.navbar {
  width: 100%;
  // max-width: $containerWidth;
  height: 6.4rem;
  margin: 0 auto;
  display: flex;
  align-items: center;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.12);
  background-color: $colour-white;
  z-index: 99;
  position: sticky;
  // position: fixed;
  top: 0;

  // div:last-child {
  //   margin-left: auto;
  //   margin-right: 2.4rem;
  //   text-align: right;
  // }

  ul {
    display: flex;
    align-items: center;
    list-style: none;

    a {
      text-decoration: none;
      margin-left: 3.2rem;
    }
  }
}

.navbar-first-container {
  display: flex;
  align-items: center;
}

.navbar-second-container {
  height: 100%;
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: flex-end;

  &>div {
    margin-right: 3.2rem;
  }
}

.logo {
  // width: 11.3rem;
  height: 3.6rem;
  vertical-align: middle;
  margin: 1.4rem 0;
}

.logo-container {
  display: flex;
  align-items: center;
  height: 100%;
  margin-left: 4rem;

}

.create-conference {
  font-family: Avenir;
  font-size: 1.6rem;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: 0.01px;
  color: $accent;

}

.signin {
  // margin: 14px 32px;
  font-family: Avenir;
  font-size: 1.6rem;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: 0.01px;
  color: $primary;
}

.location {
  display: flex;
  font-family: Avenir-Roman;
  font-size: 1.6rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: 0.01px;
  color: $primary;
  margin-left: 1.2rem;
  border-left: 1px solid #00000033;
  padding-left: 1.2rem;
  // #000000 is $confemy-black 33 => 0.2 alpha
}

.location-nav {
  display: flex;
  font-family: Avenir-Roman;
  font-size: 1.6rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: 0.01px;
  color: $primary;
  justify-content: flex-start;
  // padding-left: 1.2rem;
  // #000000 is $confemy-black 33 => 0.2 alpha
}

.location-text {
  margin-left: 1.2rem;
  font-family: Avenir-Roman;
  font-size: 1.6rem;
}

.nav-location-icon {
  width: 1.6rem;
  height: 2rem;
}

.search-box {
  align-self: center;
  align-content: center;
  width: 100%;
  margin: 0rem 1rem 0 4rem;
  padding: 0.7rem 1rem;
  border-radius: 4px;
  background-color: $shade-2;
}

.explore-conferences {
  margin-left: 1.2rem;
  width: 100%;
  font-family: Avenir-Roman;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: 0.01px;
  color: $gray-2;
}

.user-name-wrapper {
  display: flex;
  align-items: center;

  justify-content:flex-start &:hover {
    cursor: pointer;
  }

  svg {
    margin-left: 0.8rem;
  }
}

// to use hover to show and hide a element. use ~ for sibling/grandchild element. Dont use ~ for chil element

// .user-name-wrapper ~ .auth-dropdown-on {
//   display: none;
// }

// .user-name-wrapper:hover ~ .auth-dropdown-on,
// .auth-dropdown-on:hover {
//   display: block;
// }

// using material UI breakpoints for differnet screen sizes.

@mixin small() {
  @media only screen and (max-width: 600px) {
    @content;
  }
}

@mixin medium() {
  @media only screen and (min-width: 601px) and (max-width: 960px) {
    @content;
  }
}

@mixin large() {
  @media only screen and (min-width: 961px) and (max-width: 1280px) {
    @content;
  }
}

@mixin xlarge {
  @media only screen and (min-width: 1281px) and (max-width: 1920px) {
    @content;
  }
}

@mixin xxlarge {
  @media only screen and (min-width: 1921px) {
    @content;
  }
}

.navbar-responsive {
  display: grid;
  grid-template-columns: 1fr 1fr .2fr;

  width: 100%;
  height: 6.4rem;
  position: fixed;
  background-color: $colour-white;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.12);
  align-items: center;
  z-index: 99;

}

.navbar-left-item {

  display: flex;
  align-items: center;

}

.navbar-mid-item {

  display: flex;
  align-items: center;
  justify-content: flex-end;



}

.navbar-right-item {

  display: flex;

}



.location-flex {
  display: flex;

  justify-content: flex-start;
  margin-right: 2rem;
}



.hamburger-button {
  display: none;
  justify-content: end;

  button {
    background-color: $colour-white;
    border: none;
  }
}

.nav-menu {
  width: 40rem;
  height: 100%;
  position: fixed;
  z-index: 1;
  overflow: auto;
  top: 6.4rem;
  right: 0;
  border-radius: 4px;
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.1);
  background-color: #fafbfc;
  
  text-align: left;

  @media screen and (min-width: 974px) {
    display: none;
  }

  @media screen and (max-width: 600px) {
    width: 100%;
    height: 100%;

  }




}

.auth-dropdown-small {
  width: 100%;
  height: 53.4rem;
  // position: absolute;
  z-index: 1;
  overflow: auto;
  // top: 6.4rem;
  right: 0;
  border-radius: 4px;
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.08);
  background-color: $colour-white;
  margin-top: 2rem;

  ul {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;

    li {
      position: relative;
      flex-grow: 1;
      display: flex;
      align-items: center;
      width: 100%;
      min-height: 6.6rem;

      a {
        @include body-regular-a-gray3;
      }

      svg {
        position: relative;
        top: 0.2rem;
        margin-left: 2.4rem;
        margin-right: 2.4rem;
      }

      &:hover {
        background-color: $shade-2;
      }
    }
  }
}




.cart-small{
  margin-top: 2rem;
  height: 100%;
  
    // position: fixed;
    // top:6.5rem;
 
    background-color: $colour-white;
    z-index: 1;
    overflow: auto;

    
    width: 100%;

    right: 0;
    padding: 2rem;
    border-radius: 1rem;
    
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.08);
}

.nav-item {
  padding: 2rem;

  margin: 1rem 2rem;
}

.nav-item:hover {
  background-color: rgba(232, 233, 233, 0.55);
  border-radius: 4px;
}

@media screen and (max-width: 974px) {

  .navbar-mid-item {
    display: none;

  }

  .navbar-right-item {
    justify-content: flex-end;
  }

  .location-flex {
    display: none;
  }

  .navbar-responsive {
    grid-template-columns: auto auto auto;
  }

  .hamburger-button {
    display: flex;


    margin-right: 3rem;
  }

  .search-button-nav {
    display: none;
  }

}