@import "./utility.styles.scss";

$confcard-width: 28rem;
$confcard-height: 34.1rem;
// $confcard-height: 35.5rem;

.conf-card {
  // width: 28rem;
  // height: 34.1rem;
  width: $confcard-width;
  height: $confcard-height;
  border-radius: 0.4rem;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.08);
  background-color: $colour-white;
  display: flex;
  flex-direction: column;
}

.cc-img-container {
  // width: 28rem;
  // height: 15.75rem;
  width: 100%;
  max-width: 100%;
  height: calc(#{$confcard-width * 9 / 16});

  &:hover {
    cursor: pointer;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.cc-content-container {
  width: 100%;
  max-width: 100%;
  height: auto;
  // height: 18rem;
  overflow: hidden;
  padding: 1.2rem;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.cc-headtrunc-wrap {
  flex-grow: 1;
  &:hover {
    cursor: pointer;
  }
}

// conf card classes useful to other cards
// apply to div containing conf card header

.confcard-header {
  width: 100%;
  height: 5rem;
  max-height: 5rem;
  overflow: hidden;
  font-family: Avenir-Heavy;
  font-size: 2rem;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: 0.22px;
  color: $confemy-black;
}

.confcard-trunc {
  // padding-top: 16px;
}
.cc-truncitem-wrap {
  max-width: 80%;
  max-height: 2.8rem;
  line-height: 1.4rem;
  overflow: hidden;
}

.cc-likeicon-wrap {
  &:hover {
    cursor: pointer;
  }
}

.conf-card-icons {
  width: 1.4rem;
  height: 1.4rem;
}

.conf-card-text {
  display: inline-block;
}

.conf-card-location {
  margin-top: 0.8rem;
  margin-bottom: 0.8rem;
}

.conf-price-box {
  margin-top: 2.5rem;
  margin-left: 1.2rem;
}

.conf-likeicon {
  width: 2.4rem;
  height: 2.4rem;
  position: relative;
  // top: 0.6rem;
  left: 4rem;
}

.card-grid-container {
  display: grid;
  grid-template-columns: 70% 30%;
  position: relative;
  bottom: 0rem;
}
