@import "../../utility//utility.styles.scss";


.fp-wrap{
  max-width: 50.6rem;
  max-height: 37.0rem;
  padding: 4rem 4.4rem 0;
  h2 {
    color: $primary;
  }

  }

  button{
    width: 100%;
  }

 