@import '../../utility/utility.styles.scss';

.register-modal {
  width: 506px;
  //   height: 582px;
  .grid-col-2 {
    grid-gap: 1.6rem;
  }
}

.inactive-email {
  width: 100%;
  height: 48px;
  padding: 16px;
  border-radius: 4px;
  background-color: $shade-1;
  margin-bottom: 2.4rem;
  @include caption-1-regular;
  color: $gray-3;
}

.back-to-more-sign-up {
  display: flex;
  align-items: center;
  margin: 1rem 0;
  @include arial-16;
  color: $primary;
  cursor: pointer;
}
