@import "../../utility/utility.styles.scss";

.footer {
  height: 18.1rem;
  max-width: $containerWidth;
  margin: 0 auto;
  display: grid;
  grid-template-columns:repeat(3,1fr);
  align-items: center;
  ul {
    display: flex;
    justify-content: space-between;
    li {
      list-style: none;

    }
    a {
      text-decoration: none;
      color: $colour-white;
    }
  }
  @media screen and (max-width:732px) {
    height: auto;
    grid-template-columns: 1fr;
    ul{
      flex-direction: column;
      li{
        margin: 1rem 0;
      }
     }
      }
}

.footer-confemy {
  margin-left: 2.2rem;
  @media screen and (max-width:732px) {
    text-align: center;
    margin: 2rem 0 1rem;

  }
}
.footer-social-icons {
  margin: 0 auto;
  @media screen and (max-width:732px) {
    text-align: center;
    margin: 1rem 0;

  }
}
.footer-links {
  margin-right: 2.2rem;
  @media screen and (max-width:1030px) {
    text-align: center;
    margin: 0;
  }
}

.footer-confemy-text {
  font-family: Avenir-Heavy;
  font-size: 26px;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.01px;
  color: $colour-white;
}

.social-whitecircle-icon {
  width: 3.2rem;
  height: 3.2rem;
  margin: 0rem 2rem;
}
