// I have not applied the wrapper class to the editor
// .wrapper-class {
//   padding: 1rem;
//   border: 1px solid #ccc;
// }

.editr-class {
  background-color: #fff;
  padding: 1rem;
  border: 1px solid #ced9de;
  height: 250px;
}
.toolbar-class {
  border: 1px solid #ced9de;
}
