@import '../../utility//utility.styles.scss';

.or-container {
  opacity: 0.67;
  display: flex;
  align-items: center;
  margin: 3.2rem auto;
  text-align: center;
}

.or-line {
  margin: auto 2.2rem;
  display: inline-block;
  width: 175px;
  height: 1px;
  background-color: $shade-1;
}

.signin-social {
  width: 100%;
  height: 4.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  border: solid 2px $shade-1;
  margin-bottom: 4rem;
}

.signin-google-icon {
  width: 26px;
  height: 26px;
  margin: 0 13px 0 0;
}
